.body {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: black;
  }


.body-stars {
    position: sticky;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: auto;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #000;
  }


header {
    justify-content: space-between;
    color: #f5c91c;
    padding: 10px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

#header-glow:hover {
  text-shadow: 0 0 10px #f5c91c; /* Apply a glowing shadow to the text */
  transition: background-color 0.3s, text-shadow 0.3s; /* Add a smooth transition effect */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*max-width: 1200px;*/
    margin: 0 auto;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #f5c91c;
  font-weight: bold;
}

.text-box {
  display: flex;
  justify-content: space-around;
  border: 3px solid #f5c91c; /* Border color */
  border-radius: 10px; /* Rounded corners */
  padding: 10px; /* Padding inside the box */
  margin: 15px;
  font-size: 16px; /* Font size */
  width: auto;
  text-align: center;
}
.project-container {
  position: relative;
  justify-content: center;
}
/*
.project-container:nth-child(odd) {
  float: left;
  width: 900px;
}

.project-container:nth-child(even) {
  width: 900px;
  float: right; 
}
*/

#left {
  width: 75vw;
  float: left;
}
#right {
  width: 75vw;
  float:right;
}
#FRC {
  padding-left: 10px;
  text-align: left;
}

.about-me {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
  /*
  width: 100%;
  height: 100%; 
  overflow: auto; 
  position: sticky;
  top: 0;
  */
}

#pdf-box {
  display:flex;
  width:auto;
  height: 100vw;
  justify-content: center;
}
.vertical-container {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.horizontal-container {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-evenly;
}
#about-me-horiz {
  justify-content: center;
  align-items: center;
}
#hero-image {
  width: 100%; /* Adjust the width as needed */
  max-width: 100%;
  height: auto; /* Maintain the aspect ratio */
  max-height: 100%;
}
#project-image {
  width: 40vw;
}
#about-image {
  width: 50vw;
}

#iframe {
  position: relative;
  width: 800px;
  height: auto;
  border: none; /* Remove any iframe border */
}

#center-text {
  text-align: center;
  justify-content: center;
  margin:20px;
  font-size: 20px;
}
.stretch {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
  }

  .canvas-container {
    width: 100%; /* Adjust as needed */
    height: 100%; /* Adjust as needed */
    overflow: auto; /* Enable scrolling when content overflows */
    position: fixed;
    top: 0;
    left:0;
}

  @keyframes blink {
    0%, 100% {
        visibility: visible;
    }
    50% {
        visibility: hidden;
    }
}

.upper-right-corner {
  position: absolute;
  top: 0;
  right: 0;
  color: #f5c91c;
  font-family: "Roboto";

  animation: blink 2s ease-in-out infinite;
}
  #crawl-container {
    perspective: calc(100vh * 0.4);
  }
  #crawl {
    color: #f5c91c;
    position: absolute;
    width: 110%;
    left: -5%;
    bottom: -5%;
    height: 200%;
    overflow: hidden;

    transform: rotate3d(1, 0, 0, 45deg);
    transform-origin: 50% 100%;

    mask-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.66),
      rgba(0, 0, 0, 1)
    );

    -webkit-mask-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.66),
      rgba(0, 0, 0, 1)
    );
  }

  #crawl-content {
    font-family: "Roboto";
    font-size: calc(100vw * 0.074);
    letter-spacing: 0.09em;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }

  #crawl p {
    text-align: justify;
    width: 100%;
    margin: 0 0 1.25em 0;
    line-height: 1.25em;
  }

  #crawl h1 {
    font-size: 1em;
    margin: 0 0 0.3em 0;
  }

  #crawl h2 {
    font-size: 1.5em;
    margin: 0 0 0.7em 0;
  }

  #crawl h1,
  #crawl h2 {
    text-align: center;
  }


  #front-page-content {
    color: #f5c91c;
    font-family: "Roboto";
    font-size: 24px;
    letter-spacing: 0.09em;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;

  }

  .menu {
    list-style: none;
    display: flex;
}

.hamburger-menu {
  display: none; /* Initially hidden on larger screens */
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.hamburger-menu.active .bar {
  animation: glow 1.5s linear infinite;
}

.bar {
  display: flex;
  background-color: #333;
  height: 5px;
  width: 40px;
  margin: 3px 0;
  transition: 0.4s;
}

.hilt {
  background-color: grey;
  width: 28%;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}
.gap {
  background-color: black;
  width: 20%;
}
.saber {
  background-color: rgb(255, 0, 0);
  animation: glow 2s infinite alternate;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  width: 72%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
.blue-saber {
  background-color: rgb(0, 123, 255);
  animation: glow 2s infinite alternate;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
  width: 72%;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}


.collapsible-label {
  cursor: pointer;
  color: blue; /* You can style the label as desired */
}

#toggle-text {
  display: none; /* Hide the checkbox input */
}

.collapsible-content {
  display: none; /* Initially hide the content */
}

  @media screen and (max-width: 768px) {
    /* Add styles for larger screens here */
    .about-me-title {
        font-size: 20px;
    }
    .horizontal-container {
      font-size: 20px;
      flex-direction: column;
      padding: 10px;
    }
    .vertical-container {
      font-size: 20px;
      flex-direction: column;
      padding: 10px;
    }
    #clubs {
      display: block;
    }
    .text-box {
      text-align: center;
      flex-direction: column;
      align-items: center;
      padding: 10px;
    }
    #hero-image {
      width: 100%;
    }
    #project-image {
      width: 100%;
    }
    #about-image {
      width: 100%;
    }
    #left {
      float: none;
    }
    #right {
      float: none;
    }
    .project-container {
      align-items: center;
    }
    nav {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    nav ul {
      padding-left: 40px;
    }
    .menu {
      display: none;
    }
    .menu.active {
      display: flex; /* Show the menu when the 'active' class is present */
      align-items: center;
      text-align: center;
      justify-content: center;
      flex-direction: column;
  }

  .hamburger-menu {
      display: flex; /* Show the hamburger menu icon */
  }

  .hamburger-menu.active .bar:nth-child(1) {
      transform: rotate(-45deg) translate(0px, 4px);
  }

  .hamburger-menu.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
      transform: rotate(-135deg) translate(8px, 17px);;
  }
    /* Adjust other styles as needed */
}